body{
    font-family: Arial, sans-serif;

    background-image: url("hospital-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-box{
    background: rgba(0,0,0,0.65);
    padding: 12px 25px;
    border-radius: 10px;
    display: block;
    width: fit-content;
    margin: auto;
}

.title-box h2{
    color:white;
    margin:0;
}

/* Glass Blur Effect Card */

.card{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);

    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}


h2{
    font-weight:600;
    color:white;
}

input, select{

background: rgba(255,255,255,0.8);
border-radius:8px;

}

label{
font-weight:500;
}